beautifulsoup4==4.6.0
requests
Flask==1.0.2
future==0.16.0
gunicorn==19.8.1
wolframalpha
wikipedia
forex-python
apiai
geocoder
pyowm
reverse_geocoder
dateparser
geopy
googlemaps
luis
ccxt
mailbox
bs4
psycopg2
flask_sqlalchemy
marshmallow_sqlalchemy
flask_restful
jsonpickle
pycountry
lxml
